<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
    {% csrf_token %}
        USERNAME:<br>
        <input type="text" name="username">
        <br>
        PASSWORD:<br>
        <input type="text" name="password">
        <br>
        <input type="radio" name = "optradio" value="1">Hospital</input>
        <input type="radio" name = "optradio" value="2">Supplier</input>

        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>